# Audiobookshelf Environment Template

# Version (check https://github.com/advplyr/audiobookshelf/releases)
ABS_VERSION=2.16.1

# User/group for file permissions (run `id` to find yours)
UID=1000
GID=1000

# Timezone
TZ=UTC
